<!DOCTYPE html>
<html>
<head>
	<title>{{{title}}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/sitestyle.css">
	{{#each jsscripts}}
	<script	src="/static/{{this}}"></script>
	{{/each}}
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light">
		<a href="/"><strong>Home</strong></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#artsyCollapseNavbar" aria-controls="artsyCollapseNavbar" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
	  	</button>
		<div class = "collapse navbar-collapse" id="artsyCollapseNavbar">
			<div class = "navbar-nav">
				<a class = "nav-item nav-link" href="/artist">Artist</a>
				<a class = "nav-item nav-link" href="/partner">Partner</a>
				<a class = "nav-item nav-link" href="/gene">Gene</a>
				<a class = "nav-item nav-link" href="/artwork">Artwork</a>
				<a class = "nav-item nav-link" href="/artistPartner">Artist/Partner</a>
			</div>

		</div>
	</nav>


	{{{body}}}

	<!-- Scripts from https://getbootstrap.com/docs/4.3/getting-started/introduction/-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</body>
</html>
