<!DOCTYPE html>
<html>
<head>
	<title>{{{title}}}</title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
	</nav>

	<div class = "collapse navbar-collapse" id="artsyCollapseNavbar">
		<div class = "navbar-nav">
			<a class = "nav-item nav-link" href="new_artist">Add Artist</a>
			<a class = "nav-item nav-link" href="new_partner">Add Partner</a>
			<a class = "nav-item nav-link" href="new_gene">Add Gene</a>
			<a class = "nav-item nav-link" href="new_artwork">Add Artwork</a>
			<a class = "nav-item nav-link" href="new_artistPartner">Link Artist & Partner</a>
			<a class = "nav-item nav-link" href="new_artworkGene">Link Artwork & Gene</a>
			<a class = "nav-item nav-link" href="move-artwork">Move Artwork</a>
			<a class = "nav-item nav-link" href="close-museum">Close Partner</a>
			<a class = "nav-item nav-link" href="creative-difference">Add Artist</a>
			<a class = "nav-item nav-link" href="display_art_genes">Add Artist</a>
		</div>
		
	</div>
	
	{{{body}}}

</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</html>
