<h1>Please choose a museum (partner) to close:</h1> 

<form>
	<fieldset>
		<input type="radio" id="louvre" name="louvre" value="louvre">
		<label for = "louvre">Louvre Museum (Europe)</label>
		<br>
		<input type="radio" id="metgal" name="metgal" value="metgal">
		<label for = "metgal">The Met (North America)</label>
		<br>
		<input type="radio" id="natgal" name="natgal" value="natgal">
		<label for = "metgal">National Gallery (North America)</label>
		<br>
	</fieldset>
</form>