<h1>Creative Difference</h1>

Which artist/partner pair has uncovered a creative difference?<br>Select a pair below to break up:<br>


<table>
			<tr><th>Artist</th><th>Partner</th><th>Breakup?</th></tr>
			<tr><td>Jackson Pollack</td><td>The Met</td><td><button>Delete</button></td></tr>
			<tr><td>Vincent Van Gogh</td><td>The Louvre</td><td><button>Delete</button></td></tr>
		</table>