<h1>Artwork:</h1>


<div class = "card" style = "width: 18rem;">
	<img class="card-img-top" src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_412,ar_1:1/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F131107152744-mona-lisa.jpg" alt="Mona Lisa">
	<div class = "card-body">
		<h5 class="card-title">The Mona Lisa</h5><br>
		<em>Category:</em> Painting<br>
		<em>Medium:</em> Oil on Canvas<br>
		<em>Date:</em> 1506<br>
		<em>Genes:</em>"Portrait", "Renaissance", "Muted Colors"<br>
		<em>Partner:</em> The Louvre<br>
		<button class = "btn-primary">Move Artwork</button>
		<button class = "btn-secondary">Delete Artwork</button>
	</div>
</div>

<div class = "card" style = "width: 18rem;">
	<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/1280px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg" alt="Starry Night">
	<div class = "card-body">
		<h5 class="card-title">The Starry Night</h5><br>
		<em>Category:</em> Painting<br>
		<em>Medium:</em> Oil on Canvas<br>
		<em>Date:</em> 1889<br>
		<em>Genes:</em>"Impressionism", "Bright Colors"<br>
		<em>Partner:</em> A Museum Somewhere<br>
		<button class = "btn-primary">Move Artwork</button>
		<button class = "btn-secondary">Delete Artwork</button>
	</div>
</div>