<h1>Artwork:</h1>

<table>
	<tr><th>Artwork</th><th>Image</th><th>Genes</th></tr>
	<tr><td>Mona Lisa</td><td><img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_412,ar_1:1/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F131107152744-mona-lisa.jpg" alt="Mona Lisa"></td><td>"Portrait", "Renaissance", "Muted Colors"</td></tr>
	<tr><td>The Starry Night</td><td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/1280px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg" alt="Mona Lisa"></td><td>"Impressionism", "Bright Colors"</td></tr>
</table>