<div class = "container">

	<h1> Welcome to Amy and Christina's Artsy Project</h1>

	Select one of the options below. Note that you can also navigate to all of these pages with the menu bar from any other page.</br>
	<a href="artist">Artist</a> will let you enter information to add an Artist to our database. </br>
	<a href="partner">Partner</a> will let you enter information to add a Partner to our database or remove an existing partner. </br>
	<a href="gene">Gene</a> will let you enter information to add a Gene to our database, and view the genes in the database. </br>
	<a href="artwork">Artwork</a> will let you enter information to add an Artwork to our database, and view art in the database. </br>
	<a href="artistPartner">Artist/Partner</a> will let you define or break up a relationship between an artist and a partner. </br>
</div>