<h1> Welcome to Amy and Christina's Artsy Project</h1>

Select one of the options below. Note that you can also navigate to all of these pages with the menu bar from any other page.</br>
<a href="new_artist">Add Artist</a> will let you enter information to add an Artist to our database. </br>
<a href="new_partner">Add Partner</a> will let you enter information to add a Partner to our database. </br>
<a href="new_gene">Add Gene</a> will let you enter information to add a Gene to our database. </br>
<a href="new_artwork">Add Artwork</a> will let you enter information to add an Artwork to our database. </br>
<a href="new_artistPartner">Link Artist & Partner</a> will let you define a relationship between an artist and a partner. </br>
<a href="new_artworkGene">Link Artwork & Gene</a> will let you define a relationship between an artwork and a gene. </br>
<a href="move-artwork">Move Artwork</a> will let you move an artwork to a new partner. </br>
<a href="close-museum">Close Partner</a> will let you close (delete) a partner. </br>
<a href="creative-difference">Creative Difference</a> will let you break up a partner/artist pair (delete the relationship. </br>
<a href="display_art_genes">Display Art</a> will show all of the art in the database, and information about the genes associated with them. </br>