<form class="" action="index.html" method="post" id="newGene">
    Name: <br>
    <input type="text" name="name"> <br>
    Description: <br>
    <textarea rows="4" cols="50" name="comment" form="newGene"></textarea> <br>
    <input type="submit">
</form>
