<h2>Add Partner:</h2>
<form class="" action="index.html" method="post" id="newPartner">
    Name: <br>
    <input type="text" name="name"> <br>
    Type: <br>
    <input type="text" name="type"> <br>
    Email: <br>
    <input type="email" name="birthday"> <br>
    Region: <br>
    <input type="text" name="region"> <br>
    <input type="submit">
</form>

<h2>Partners:</h2>
If a partner is no longer working, please remove them from the list.</br>

<table>
			<tr>
        <th>Partner</th>
        <th>Type</th>
        <th>Email</th>
        <th>Region</th>
        <th>Remove?</th>
      </tr>
			<tr>
        <td>National Gallery of Art, Washington, D.C.</td>
        <td>Institution</td>
        <td>support@nga.gov</td>
        <td>North America</td>
        <td><button>Delete</button></td>
      </tr>
		</table>
