<h1>Add Artwork:</h1>
<form class="" action="index.html" method="post" id="newArtwork">
    Title: <br>
    <input type="text" name="title"> <br>
    Artist: <br>
    <select name="artist">
      <option value="artist1">artist1</option>
      <option value="artist2">artist2</option>
      <option value="artist3">artist3</option>
      <option value="artist4">artist4</option>
    </select> <br>
    Category: <br>
    <input type="text" name="category"> <br>
    Medium: <br>
    <input type="text" name="medium"> <br>
    Date: <br>
    <input type="date" name="date"> <br>
    Thumbnail URL: <br>
    <input type="url" name="thumbnail"> <br>
    Partner: <br>
    <select name="partner">
      <option value="partner1">partner1</option>
      <option value="partner2">partner2</option>
      <option value="partner3">partner3</option>
      <option value="partner4">partner4</option>
    </select> <br>
    <input type="submit">
</form>
