<h1>Add Partner:</h1>
<form class="" action="index.html" method="post" id="newPartner">
    Name: <br>
    <input type="text" name="name"> <br>
    Type: <br>
    <input type="text" name="type"> <br>
    Email: <br>
    <input type="email" name="birthday"> <br>
    Region: <br>
    <input type="text" name="region"> <br>
    <input type="submit">
</form>
