<h1>Add Gene:</h1>
<form class="" action="index.html" method="post" id="newGene">
    Name: <br>
    <input type="text" name="name"> <br>
    Description: <br>
    <textarea rows="4" cols="50" name="comment" form="newGene"></textarea> <br>
    <input type="submit">

    Artworks in this Gene (Select at least one): <br>
    <select multiple required name="artworks_to_link">
      <option value="artwork1">artwork1</option>
      <option value="artwork2">artwork2</option>
      <option value="artwork3">artwork3</option>
      <option value="artwork4">artwork4</option>
    </select> <br>
</form>
