<h2>Add Artwork:</h2>
<form class="" action="index.html" method="post" id="newArtwork">
    Title: <br>
    <input type="text" name="title"> <br>
    Artist: <br>
    <select name="artist">
      <option value="artist1">artist1</option>
      <option value="artist2">artist2</option>
      <option value="artist3">artist3</option>
      <option value="artist4">artist4</option>
    </select> <br>
    Category: <br>
    <input type="text" name="category"> <br>
    Date: <br>
    <input type="date" name="date"> <br>
    Thumbnail URL: <br>
    <input type="url" name="thumbnail"> <br>
    Partner: <br>
    <select name="partner">
      <option value="null">NONE</option>
      <option value="partner1">partner1</option>
      <option value="partner2">partner2</option>
      <option value="partner3">partner3</option>
      <option value="partner4">partner4</option>
    </select> <br>

    Gene (Select at least one): <br>
    <select multiple required name="genes_to_link">
      <option value="gene1">gene1</option>
      <option value="gene2">gene2</option>
      <option value="gene3">gene3</option>
      <option value="gene4">gene4</option>
    </select> <br>

    <input type="submit">
</form>

<h2>Artwork in Collection</h2>
<div class="card-columns">
	<div class = "card" style = "width: 18rem;">
		<img class="card-img-top" src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_412,c_fill,g_auto,h_412,ar_1:1/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F131107152744-mona-lisa.jpg" alt="Mona Lisa">
		<div class = "card-body">
			<h5 class="card-title">The Mona Lisa</h5><br>
			<em>Category:</em> Painting<br>
			<em>Date:</em> 1506<br>
			<em>Genes:</em>"Portrait", "Renaissance", "Muted Colors"<br>
			<em>Partner:</em> The Louvre<br>
			<button class = "btn-primary" data-toggle="modal" data-target="#partnerChangeModal">Move Artwork</button>
			<button class = "btn-secondary">Delete Artwork</button>
		</div>
	</div>

	<div class = "card" style = "width: 18rem;">
		<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/1280px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg" alt="Starry Night">
		<div class = "card-body">
			<h5 class="card-title">The Starry Night</h5><br>
			<em>Category:</em> Painting<br>
			<em>Date:</em> 1889<br>
			<em>Genes:</em>"Impressionism", "Bright Colors"<br>
			<em>Partner:</em> A Museum Somewhere<br>
			<button class = "btn-primary" data-toggle="modal" data-target="#partnerChangeModal">Move Artwork</button>
			<button class = "btn-secondary" >Delete Artwork</button>
		</div>
	</div>
</div>



<div class="modal fade" id="partnerChangeModal" tabindex="-1" role="dialog" aria-labelledby="partnerModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="partnerModalTitle">Select New Partner</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="Search for Partner">
        <ul>
          <li>Partner 1</li>
          <li>Partner 2</li>
        </ul>
        Note: when this website is connected to a backend, this will implement search/filter functionality
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

