<h1>Link Artist/Partner:</h1>
<form class="" action="index.html" method="post" id="newArtistPartner">
    Artist: <br>
    <select name="artist">
      <option value="artist1">artist1</option>
      <option value="artist2">artist2</option>
      <option value="artist3">artist3</option>
      <option value="artist4">artist4</option>
    </select> <br>
    Partner: <br>
    <select name="partner">
      <option value="partner1">partner1</option>
      <option value="partner2">partner2</option>
      <option value="partner3">partner3</option>
      <option value="partner4">partner4</option>
    </select> <br>
    <input type="submit">

</form>


<h1>Creative Difference?</h1>

Has an artist/partner pair uncovered a creative difference?<br>Select a pair below to break up:<br>

<table>
			<tr><th>Artist</th><th>Partner</th><th>Breakup?</th></tr>
			<tr><td>Jackson Pollack</td><td>The Met</td><td><button>Delete</button></td></tr>
			<tr><td>Vincent Van Gogh</td><td>The Louvre</td><td><button>Delete</button></td></tr>
		</table>
