<h1>Add Artist:</h1>
<form class="" action="index.html" method="post" id="newArtist">
    Name: <br>
    <input type="text" name="name"> <br>
    Hometown: <br>
    <input type="text" name="hometown"> <br>
    Birthday: <br>
    <input type="date" name="birthday"> <br>
    Deathday: <br>
    <input type="date" name="deathday"> <br>
    Biography: <br>
    <textarea rows="4" cols="50" name="comment" form="newArtist"></textarea> <br>
    <input type="submit">
</form>
