body
{
    font-family: 'Quicksand', sans-serif;
}

nav {
    background-color: #a3cec7; 
}

a
{
    color: #475841;
}

.card-columns
 {
 	margin:50px;
 }

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

.container
{
    padding-top: 50px;
    padding-bottom: 50px;
}

form
{
    padding-bottom: 50px;
    border-style: solid;
    border-radius: 5px;
}


textarea
{
    max-width: 90%;
}