body
{
    font-family: 'Quicksand', sans-serif;
}

.card-columns
 {
 	margin:50px;
 }

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 826px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1076px) {
    .card-columns {
        column-count: 4;
    }
}