body
{
    font-family: 'Quicksand', sans-serif;
}

nav {
    background-color: #FCDEBE; 
}

a
{
    color: #93ACB5;
}

a:hover
{
    color: #6C756B;
    text-decoration: none;
}

.card-columns
 {
 	margin:50px;
 }

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

.container
{
    margin-top: 50px;
    margin-bottom: 50px;
}

form
{
    padding: 20px;
    border-style: solid;
    /*border-radius: 5px;*/
    border-width: 1px;
    margin-bottom: 50px
}


textarea
{
    max-width: 90%;
}

.btn
{
    margin-top: 10px;
}